---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
        date:  'March 2024 - June 2024',
        title: 'Internship developer',
        company: 'S.I.C',
        link: 'https://www.sistemasic.com',
        description: 'Internship employee in the develop department',
    },
    {
        date:  'March 2022 - June 2022',
        title: 'Internship systems',
        company: 'Ibermutua',
        link: 'https://www.ibermutua.es',
        description: 'Internship in the department of technology in Windows systems and user support',
    },
]
---
<ol class="flex-row columns-2 border-gray-200 dark:border-gray-700 ml-3 mb-10">         
    {
        EXPERIENCE.map(experience => 
        (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }
</ol>

