<footer class="bg-[#000] w-full mb-0 mt-10 shadow  dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-white sm:text-center dark:text-white">David Rueda Martín-Portfolio.
    </span>
    <p class="flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0">
        Thank you for being here!
    </p>
    </div>
</footer>
