<header class="fixed right-0 top-1/2 transform -translate-y-1/2 p-4 space-y-4">
    <nav class="flex opacity-80 text-4xl ">
        <ul class="mr-16">
            <li class="pb-7"><a href="#top">Home</a></li>
            <li class="pb-7"><a href="#experience">Experience</a></li>
            <li class="pb-7"><a href="#projects">Projects</a></li>
            <li class="pb-7"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
